# Dependências
node_modules
dist
dist-ssr

# Logs
*.log
npm-debug.log*

# Variáveis de ambiente (NUNCA versionar credenciais reais)
.env
.env.local

# Editores / SO
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
